<div class="wrapper">
  <div class="sfe-contents">
    <div class="sfe-container">
      <h1>スタッフ情報登録</h1>
      <%= form_with(model: @staff, local: true) do |form| %>
        <% if @staff.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @staff.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="staff_edit">
          <ul class="sfe-content">
            <li class="sfe-content">自己紹介文:<%= form.text_area :content, placehlder: 'どんな施術が得意か何時くらいが予約が取れやすいかetc' %></li>
            <li class="gender">
              <%= form.radio_button :gender, "男性" %>
              <%= form.label :gender_men, "男性", class: "mens" %>
              <%= form.radio_button :gender, "女性" %>
              <%= form.label :gender_female, "女性", class: "females" %>
            </li>
          </ul>
        </div>
        <div class="sfe-f-group">
          <div class="sfe_back">
            <%= link_to 'back', user_path(current_user.id), class: "btn btn-primary" %>&emsp;
          </div>
          <div class="sfe_submit">
            <%= form.submit "登録", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
