<div class="wrapper">
  <div class="sfe-contents">
    <div class="sfe-container">
      <h2>スタッフ情報登録</h2>
      <%= form_with(model: @staff, local: true) do |form| %>
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>">
              <%= message %>
            </div>
        <% end %>
        <div class="staff_edit">
          <ul class="sfe-content">
            <li class="sfe-content">自己紹介文:<%= form.text_area :content, placehlder: 'どんな施術が得意か何時くらいが予約が取れやすいかetc' %></li>
            <li class="sfe-gender">
              <%= form.radio_button :gender, "男", class: 'mens' %>男
              <%= form.radio_button :gender, "女", class: 'females' %>女
            </li>
          </ul>
        </div>
        <div class="sfe-f-group">
          <div class="sfe_back">
            <%= link_to 'back', user_path(current_user.id), class: "btn btn-primary" %>&emsp;
          </div>
          <div class="sfe_submit">
            <%= form.submit "登録", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
