<h1>スタッフ一覧</h1>
<%= @staffs %>
<table>
  <tr>
    <th>名前</th>
    <th>自己紹介</th>
    <th>性別</th>
  </tr>

<% @staffs.each do |staff| %>
  <tr>
    <td><%= staff.user.name %></td>
    <td><%= staff.content %></td>
    <td><%= staff.gender %></td>
    <td><%= link_to '詳細を確認する', staff_path(staff.id) %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>


<%= link_to '', new_staff_path %>
