<div class="wrapper">
  <div class="usi-contents">
    <div class="usi-container">
      <h1>スタッフ一覧</h1>
        <% @staffs.each do |staff| %>
        <div class="usi-container-inner">
          <div class="usi-container-content">
            <div>
              <ul class="usi-content">
                <div class="all">
                  <a class="usi-name"><%= staff.user.name %></a>
                  <a class="usi-gender"><%= staff.gender %></a>
                </div>
                <li class="cont_memo">得意な施術や空いてることが多い時間帯など...</li>
                <li class="all ui-cont"><%= staff.content %></li>
                <!-- <li class="all ui-gender"></li> -->
                <div class="usi-link">
                  <li class="usi-menu"><%= link_to 'メニュー一覧へ', menus_path, class: 'btn btn-primary' %></li>
                  <li class="usi-show"><%= link_to '詳細を確認する', staff_path(staff.id), class: 'btn btn-primary' %></li>
                </div>
              </ul>
            </div>
            <div class="usi-link2">
              <% if @staff == current_user.id %>
                <%= link_to '編集', edit_staff_path(staff.id), data: { confirm: '本当に編集していいですか？' } %>
                <%= link_to '削除', staff_path(staff.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
