<div class="staff_new">
  <div class="staff_new2">
    <div class="text-center mb-4">
      <%= form_with(model: @staff, url: user_staffs_path, local: true) do |form| %>

      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
      <% end %>
      <table>
        <tr>
          <th><%= form.label :content, "自己紹介文" %></th>
        </tr>
        <tr>
          <td><%= form.text_field :content %></td>
        </tr>

        <tr class="field">
          <td class="men"><label><%= form.radio_button :gender, "男" %> 男</label></td>
          <td class="female"><label><%= form.radio_button :gender, "女" %> 女</label></td>
        </tr>

      </table>

      <%= form.hidden_field :user_id, :value => current_user.id %>

        <div class="form-group">
          <%= form.submit "登録", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
