<h1>Users#show</h1>
<p>名前: <%= @staff.user.name %></p>
<p>メールアドレス: <%= @staff.user.email %></p>
<p><%= @staff.user.staff %></p>
<p>紹介文: <%= @staff.content %></p>
<p>性別: <%= @staff.gender %></p>

<% unless @staff.user_id == current_user.id %>
  <% if @relationship.present? %>
    <%= link_to 'フォロー解除する', relationship_path(id: @relationship.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'フォローする', relationships_path(staff_id: @staff.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to 'このスタッフのメニューを見る', menus_path(@staff.id) %>

<%= link_to '編集する', edit_user_staff_path(@staff.id) %>
