<div class="user_show">
  <form class="user_show2">
    <div class="text-center mb-4">
      <article id="clearfix">
        <h1>スタッフ詳細</h1>
        <p>名前: <%= @staff.user.name %></p>
        <p>メールアドレス: <%= @staff.user.email %></p>
        <p><%= @staff.user.staff %></p>
        <p>紹介文: <%= @staff.content %></p>
        <p>性別: <%= @staff.gender %></p>
      </article>

    <div class="follew">
      <% unless @staff.user_id == current_user.id %>
        <% if @relationship.present? %>
          <%= link_to 'フォロー解除する', relationship_path(id: @relationship.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'フォローする', relationships_path(staff_id: @staff.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>

    <% unless @staff.user_id == current_user.id %>
      <%= link_to 'このスタッフのメニューを見る', menus_path(@staff.id) %>
    <% else %>
      <%= link_to 'メニュー作成', new_menu_path %>
      <%= link_to '投稿を作成', new_feed_path %>
    <% end %>


    <%= link_to '編集する', edit_user_staff_path(@staff.id) %>
    </div>
  </form>
</div>
