<div class="wrapper">
  <div class="ss-contents">
    <div class="ss-container">
      <h2 container-header>詳細画面</h2>

          <ul class="fs-contents">
            <li class="all ss-name">名前: <%= @staff.user.name %></li>
            <li class="all ss-email">メールアドレス: <%= @staff.user.email %></li>
            <li class="all ss-status">ユーザーステータス:<%= @staff.user.status %></li>
            <li class="all ss-content">紹介文:<br> <%= @staff.content %></li>
            <li class="all ss-gender">性別: <%= @staff.gender %></li>
          </ul>

          <ul class="staff_links">
            <% unless @staff.user_id == current_user.id %>

                <li class="links_margin1"><%= link_to 'このスタッフのメニューを見る', menus_path(@staff.id), class:'btn btn-info' %></li>
                <li class="links_margin1"><%= render "staffs/follow_form" %></li>

            <% else %>

                <li class="links_margin1"><%= link_to 'メニュー作成', new_menu_path, class:'btn btn-info' %></li>
                <li class="links_margin1"><%= link_to '投稿を作成', new_feed_path, class:'btn btn-success' %></li>

            <% end %>


          <!-- <div class="edit_link"> -->
            <li class="back_feed">
              <% if @staff.user_id == current_user.id %>
                <%= link_to '編集する', edit_staff_path(@staff.id), class:'btn btn-primary' %>
              <% end %>
            </li>
            <li class="links_margin2"><%= link_to 'back', staffs_path, class: "btn btn-primary" %></li>
          </ul>
    </div>
    <div style="margin-bottom: 60px;">&emsp;</div>
  </div>
</div>
