<div class="wrapper">
  <div class="ss-contents">
    <div class="ss-container">
      <h1 container-header>詳細画面</h1>
        <div class="ss-form-groups row mt-5">
          <label class="col-sm-4 col-form-label msl">お名前</label>
          <div class="col-mr-sm-8">
            <%= @staff.user.name %>
          </div>
        </div>

        <div class="ss-form-groups row mt-5">
          <label class="col-sm-4 col-form-label msl">メールアドレス</label>
          <div class="col-mr-sm-8">
            <%= @staff.user.email %>
          </div>
        </div>

        <div class="ss-form-groups row mt-5">
          <label class="col-sm-4 col-form-label msl">ユーザーステータス</label>
          <div class="col-mr-sm-8">
            <%= @staff.user.status %>
          </div>
        </div>

        <div class="ss-form-groups row mt-5">
          <label class="col-sm-4 col-form-label msl">紹介文:<br></label>
          <div class="col-mr-sm-8">
            <%= @staff.content %>
          </div>
        </div>

        <div class="ss-form-groups row mt-5">
          <label class="col-sm-4 col-form-label msl">性別</label>
          <div class="col-mr-sm-8">
            <%= @staff.gender %>
          </div>
        </div>

        <ul class="staff_links">
          <% unless @staff.user_id == current_user.id %>
              <li class="links_margin1"><%= render "staffs/follow_form" %></li>
          <% else %>
              <li class="links_margin1"><%= link_to 'メニュー作成', new_menu_path, class:'btn btn-info' %></li>
              <li class="links_margin1"><%= link_to '投稿を作成', new_feed_path, class:'btn btn-success' %></li>
          <% end %>

        <li class="back_feed">
          <% if @staff.user_id == current_user.id %>
            <%= link_to '編集する', edit_staff_path(@staff.id), class:'btn btn-primary' %>
          <% end %>
        </li>
        <li class="links_margin2"><%= link_to 'back', staffs_path, class: "btn btn-primary" %></li>
      </ul>
    </div>
  </div>

  <div class="mi-contents2" id="staff_menu">
    <div class="mi-container2">
      <h1>メニュー</h1>
      <% @menus.each do |menu| %>
      <div class="mi-container-inner">
        <div class="mi-container-content">
          <div>
            <ul class="mi-cont">
              <li class="all mif-menu-name"><%= menu.menu_name %></li>
              <li class="all mif-time_require"><%= menu.time_require %>&nbsp;分</li>
              <li class="all mif-price"><%= menu.price %>&nbsp;円</li>
              <li class="all mif-menu-content"><%= menu.menu_content %></li>
              <li class="f-show"><%= link_to 'メニューの詳細', menu_path(menu.id), class: "btn btn-primary btn-show" %></li>
            </ul>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
