<div class="user_show">
  <form class="user_show2">
    <div class="text-center mb-4">
      <article id="clearfix">
        <h1>スタッフ詳細</h1>
        <p>名前: <%= @staff.user.name %></p>
        <p>メールアドレス: <%= @staff.user.email %></p>
        <p><%= @staff.user.status %></p>
        <p>紹介文: <%= @staff.content %></p>
        <p>性別: <%= @staff.gender %></p>
      </article>


    <% unless @staff.user_id == current_user.id %>
      <%= link_to 'このスタッフのメニューを見る', menus_path(@staff.id) %>
    <% else %>
      <%= link_to 'メニュー作成', new_menu_path %>
      <%= link_to '投稿を作成', new_feed_path %>
    <% end %>

    <% if @staff == current_user.id %>
      <%= link_to '編集する', edit_staff_path(@staff.id) %>
    <% end %>
    </div>
  </form>
</div>




<% unless current_user.status == true %>
  <%= render 'staffs/follow_form' %>
<% end %>
