<h1>Users#show</h1>
<p>名前: <%= @staff.name %></p>
<p>メールアドレス: <%= @staff.email %></p>
<p><%= @staff.staff %></p>
<p>紹介文: <%= @staff.content %></p>
<p>性別: <%= @staff.gender %></p>


  <%= link_to 'スタッフ情報へ', user_staff_path(@staff.id) %>

  <%= link_to '編集する', edit_user_staff_path(@staff.id) %>
