<div class="wrapper">
  <div class="show-contents">
    <div class="show-container">
      <h1 container-header>詳細画面</h1>
        <div>
          <ul class="fs-contents">
            <li class="all fs-title"><%= @feed.title %></li>
            <li class="all fs-content"><%= @feed.content %></li>
            <li class="all fs-image"><%= image_tag @feed.image.url %></li>
          </ul>
        </div>
      <div class="fs-link">
        <% if @feed.user_id == current_user.id %>
          <li><%= link_to 'EDIT', edit_feed_path(@feed.id), class: "btn btn-primary" %></li>
        <% end %>
        <div class="menuindex"><%= link_to 'メニュー一覧へ', menus_path %></div>
        <li><%= link_to 'back', feeds_path, class: "btn btn-primary" %></li>
      </div>
    </div>
  </div>
</div>
