<div class="wrapper">
  <div class="fs-contents">
    <div class="fs-container">
      <h1 container-header>投稿詳細</h1>
        <div>
          <ul class="fss-contents">
            <li class="all fs-name"><%= @user.name %></li>
            <li class="all fs-title"><%= @feed.title %></li>
            <li class="all fs-content"><%= @feed.content %></li>
            <li class="all fs-image"><%= image_tag @feed.image.url %></li>
          </ul>
        </div>
      <div class="fs-link">
        <div class="feeds-btn-wrap">
        <% if @feed.user_id == current_user.id %>
          <div>
            <%= link_to '編集', edit_feed_path(@feed.id), class: "btn btn-primary mbv" %>
          </div>
        <% end %>

          <div><%= link_to '戻る', feeds_path, class: 'btn btn-primary mbw' %></div>
          <div><%= link_to 'メニュー一覧へ', menus_path, class: 'btn btn-primary mbz'%></div>
        </div>
      </div>
    </div>
  </div>
</div>
