<div class="wrapper">
  <div class="ms-contents">
    <div class="ms-container">
      <h1 container-header>詳細画面</h1>
      <p id="notice"><%= notice %></p>
        <div>
          <div class="form-groups row mt-5">
            <label class="col-sm-4 col-form-label msl">メニュー名</label>
            <div class="col-mr-sm-8">
              <%= @menu.menu_name %>
            </div>
          </div>

          <div class="form-groups row mt-5">
            <label class="col-sm-4 col-form-label msl">施術時間</label>
            <div class="col-mr-sm-8">
              <%= @menu.time_require %>
            </div>
          </div>

          <div class="form-groups row mt-5">
            <label class="col-sm-4 col-form-label msl">価格</label>
            <div class="col-mr-sm-8">
              <%= @menu.price %>
            </div>
          </div>

          <div class="form-groups row mt-5">
            <label class="col-sm-4 col-form-label msl">メニュー内容</label>
            <div class="col-mr-sm-8">
              <%= @menu.menu_content %>
            </div>
          </div>

          <div>
            <div class="menu-btn-wrap">
              <%= link_to '戻る', menus_path, class: "btn btn-primary" %>
                <% if current_user.status == "一般ユーザー" %>
                <%= link_to '予約する', new_menu_reservation_path(@menu.id, @menu.reservations.ids), class: "btn btn-success rrr" %>
              <% end %>

              <% if @staff == current_user.id %>
                <li><%= link_to '編集', edit_menu_path(@menu), class: "btn btn-primary" %></li>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
