<p id="notice"><%= notice %></p>

<p>
  <strong>メニュー名:</strong>
  <%= @menu.menu_name %>
</p>

<p>
  <strong>施術時間:</strong>
  <%= @menu.time_require %>
</p>

<p>
  <strong>価格:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>メニュー内容:</strong>
  <%= @menu.menu_content %>
</p>

<% if current_user.status == false %>
  <%= link_to '予約する', new_menu_reservation_path(@menu.id, @menu.reservations.ids) %>
<% end %>

<%= link_to '戻る', menus_path %>

<% if @staff == current_user.id %>
  <%= link_to '編集', edit_menu_path(@menu) %>
<% end %>
