<div class="container us-in">
   <div class="row">
     <div class="col-lg-10 col-xl-9 mx-auto">
       <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">登録</h5>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-signin">
            <label><%= f.label '名前' %></label>
            <div class="form-label-group">
              <!-- <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus> -->
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
              <!-- <label for="inputUsername">Username</label> -->
            </div>

            <label for="inputEmail">メールアドレス</label>
            <div class="form-label-group">
              <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required> -->
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <hr>

            <label for="inputPassword">パスワード</label>
            <div class="form-label-group">
              <%= f.password_field :password, autocomplete: "new-password" %><br />
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上で入力してください)</em>
              <% end %>
              <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
            </div>

            <label for="inputConfirmPassword">確認用パスワード</label>
            <div class="form-label-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              <!-- <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required> -->
             </div>

            <label for="inputStatus">ステータス</label>
            <div class="form-label-group">
              <p>スタッフとして掲載希望の方は下記の記入をしてください</p>
              <%= f.check_box :status, autofocus: true, checked_value: true, unchecked_value: false %>
            </div>

            <div class="actions">
              <%= f.submit "編集する", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>


          </div>
          <div class="acount">
            <p class="login-link">アカウントをお持ちですか？<%= link_to "ログインする", new_user_session_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "form" %>
