<div id="wrapper">
<div class="user_show">
  <form class="user_show2">
    <div class="text-center mb-4">
      <h1>ユーザー情報</h1>
      <table>
        <tr>
          <th class="name">名前:</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th class="email">メールアドレス:</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th class="status">ユーザーステータス:</th>
          <td><%= @user.status %></td>
        </tr>
      </table>
      <% if current_user.id == @user.id %>
        <% if current_user.status == true && current_user.staff.nil? %>
          <%= link_to 'スタッフ情報登録へ', new_staff_path %>
        <% elsif current_user.status.present? %>
          <%= link_to 'スタッフ詳細画面へ', staff_path(current_user.id) %>
        <% else %>
          <%= link_to 'スタッフ一覧へ', staffs_path %>
        <% end %>
      <% end %>
    </div>
  </form>
</div>
</div>





　　　
