<div id="wrapper">
  <div class="us-contents">
    <div class="us-container">
      <h1>ユーザー情報</h1>
      <div>
        <ul class="us-content">
          <li class="all fs-name">名前:            <%= @user.name %></li>
          <li class="all fs-email">メールアドレス:    <%= @user.email %></li>
          <li class="all fs-status">ユーザーステータス: <%= @user.status %></li>
        </ul>
      </div>
      <div class="us-link">
        <% if current_user.id == @user.id %>
          <% if current_user.status == "スタッフ" && current_user.staff.nil? %>
            <%= link_to 'スタッフ情報登録へ', new_staff_path, class: 'btn btn-primary' %>
          <% elsif current_user.status.present? %>
            <%= link_to 'スタッフ詳細画面へ', staff_path(current_user.id), class: 'btn btn-primary' %>
          <% else %>
            <%= link_to 'スタッフ一覧へ', staffs_path, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>





　　　
