<div id="wrapper">
<div class="user_show">
  <form class="user_show2">
    <div class="text-center mb-4">
      <h1>ユーザー情報</h1>
      <table>
        <tr>
          <th class="name">名前:</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th class="email">メールアドレス:</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th class="status">ユーザーステータス:</th>
          <td><%= @user.status %></td>
        </tr>
      </table>
      <% if @user.status == true && @user.status.ids.empty? %>
        <%= link_to 'スタッフ情報登録へ', new_user_staff_path(@user.id) %>
      <% elsif @user.status.present? %>
        <%= link_to 'スタッフ詳細画面へ', user_staff_path(@user.id) %>
      <% else %>
        <%= link_to 'スタッフ一覧へ', user_staffs_path(@user.id) %>
      <% end %>
    </div>
  </form>
</div>
</div>



<!-- <body id="top" class="medium">
	<header class="clearfix">
		<div>
    <figure>
	    <img src="images/logo.png" width="251" height="30" alt="logo"/>
			</figure>
			<ul class="clearfix">
				<li id="button_small"><a href="#" onClick="classchange('top','small');">S</a></li>
				<li id="button_medium"><a href="#" onClick="classchange('top','medium');">M</a></li>
				<li id="button_large"><a href="#" onClick="classchange('top','large');">L</a></li>
			</ul>
	    </div>
	</header> -->
