<h3>以下の内容で、予約する。</h3>

<%= form_with(model: @reservation, local: true) do |form| %>
  <%= form.hidden_field :start_date %>
  <%= form.hidden_field :end_date %>

  <p>開始<%= @reservation.start_date %></p>
  <p>終了<%= @reservation.end_date %></p>
  <%= form.submit  "予約を完了する" %>
<% end %>
