<h1>スタッフ一覧</h1>

<table>

<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.reservation.menu_name %></td>
    <td><%= menu.reservation.time_require %></td>
    <td><%= menu.reservation.price %></td>
    <td><%= menu.reservation.menu_content %></td>

    <td><%= link_to '詳細を確認する', staff_path(staff.id) %></td>

    <% if @staff == current_user.id %>
      <td><%= link_to "ブログを編集する", edit_staff_path(staff.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to 'ブログを削除する', staff_path(staff.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
