<div class="wrapper">
  <div class="rs-contents">
    <div class="rs-container">
      <h2 container-header>詳細画面</h2>
        <div>
          <ul class="rs-content">
            <li class="all ss-name">名前: <%= @staff.user.name %></li>
            <li class="all ss-email">メールアドレス: <%= @staff.user.email %></li>
            <li class="all ss-status">ユーザーステータス:<%= @staff.user.status %></li>
            <li class="all ss-content">紹介文: <%= @staff.content %></li>
            <li class="all ss-gender">性別: <%= @staff.gender %></li>
            <li>
            <% unless @staff.user_id == current_user.id %>
              <%= link_to 'このスタッフのメニューを見る', menus_path(@staff.id) %>
            <% else %>
            </li>
              <li>
                <%= link_to 'メニュー作成', new_menu_path, class:'btn btn-primary' %>
                <%= link_to '投稿を作成', new_feed_path, class:'btn btn-primary' %>
              </li>
            <% end %>
          </ul>
          <div class="rs-link">
            <li class="">
              <% if @staff.user_id == current_user.id %>
                <%= link_to '編集する', edit_staff_path(@staff.id), class:'btn btn-primary' %>
              <% end %>
            </li>
            <li class="back_feed"><%= link_to 'back', staffs_path, class: "btn btn-primary" %></li>
          </div>
        </div>
    </div>
  </div>
</div>
