<div class="wrapper">
  <div class="rsn-contents">
    <div class="rsn-container">
      <h1 container-header>詳細画面</h1>
        <div class="r-show-groups row mt-5">
          <label class="col-sm-4 col-form-label">予約者</label>
            <div class="col-mr-sm-8">
              <%= @user.name%>
          </div>
        </div>
        <div class="r-show-groups row mt-5">
          <label class="col-sm-4 col-form-label">メニュー名</label>
            <div class="col-mr-sm-8">
              <%= @menu.menu_name %>
          </div>
        </div>

        <div class="r-show-groups row mt-5">
          <label class="col-sm-4 col-form-label">施術時間</label>
            <div class="col-mr-sm-8">
              <%= @menu.time_require %>
          </div>
        </div>
        <div class="r-show-groups row mt-5">
          <label class="col-sm-4 col-form-label">予約時間</label>
            <div class="col-mr-sm-8">
              <%= @reservation.start_date.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
      <div class="rsn-link">
        <li><%= link_to '戻る',menu_path(@menu.id), class: "btn btn-primary" %></li>
      </div>
    </div>
  </div>
</div>
