<!DOCTYPE html>
<html>
  <head>
    <title>Relaxy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "R e l a x y", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-header">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, class: "header-link" %>
          </li>
          <li class="nav-item">
          <% if user_signed_in? %>

          <div class="us-link">
            <% if current_user.id == current_user.id %>
              <% if current_user.status == true && current_user.staff.nil? %>
                <%= link_to 'スタッフ情報登録へ', new_staff_path %>
              <% elsif current_user.status.present? %>
                <%= link_to 'スタッフ詳細画面へ', staff_path(current_user.id) %>
              <% else %>
                <%= link_to 'スタッフ一覧へ', staffs_path %>
              <% end %>
            <% end %>
          </div>
          <% if current_user.staff.present? %>
            <%= link_to "メニュー作成", new_menu_path %>
          <% else %>
           <%= link_to "メニュー一覧", menus_path %>
          <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'アカウント変更', edit_user_registration_path, class: "header-link" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-link" %>
            <p class="loginuser">ログインユーザー： <%= current_user.name %></p>
            </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "新規作成", new_user_registration_path, class: "nav-link" %>
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav><br>
  </header>

  <div style="margin-bottom: 60px;">&emsp;</div>

  <%= yield %>

  <div class="ft">
      <footer class="footer">
        <div class="ft-cont">
          <nav class="ft-nav">
            <ul class="ft-ul">
              <p>©︎2019 Relaxy.</p>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>
